body {
    color: #fff;
    background: #282c34;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image:url('./static/table.jpg');
    background-size:cover;
}

.App {
   border:5px solid black;
   border-radius: 5%;
   height: 70vh;   
}

.card img {
    height: 180px;
    width: 140px;
    margin: 1px;
    
}

.cards {
    display: flex;
    flex-direction:'row';
    justify-content: center;
    margin: 10px;
}

.cards img {
    margin: .5rem;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}